{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:unicorn/recommended",
    "plugin:sonarjs/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": ["jest", "react", "react-hooks", "unicorn", "prettier"],
  "globals": {
    "closeAddForm": true,
    "closeDropdown": true,
    "closePopup": true,
    "enableFoundationAccordionComponent": true,
    "enableFoundationComponent": true,
    "enableFoundationForMultipleComponents": true,
    "enableFoundationForSingleComponent": true,
    "formatDateAndTime": true,
    "openAddForm": true,
    "openDropdown": true,
    "removeRevealComponent": true,
    "renderFoundationComponentsJquery": true,
    "scrollToTop": true,
    "toggleAlert": true,
    "toggleSearch": true,
    "toggleTaskForm": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "unicorn/filename-case": [
      "error",
      {
        "case": "pascalCase",
        "ignore": [".config.js(on)?$"]
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "extendDefaultReplacements": false,
        "replacements": {
          "props": {
            "properties": false
          }
        }
      }
    ]
  }
}
