{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["jest", "react-hooks"],
  "globals": {
    "closeAddForm": true,
    "closeDropdown": true,
    "closePopup": true,
    "enableFoundationComponent": true,
    "enableFoundationForMultipleComponents": true,
    "enableFoundationForSingleComponent": true,
    "formatDateAndTime": true,
    "openAddForm": true,
    "openDropdown": true,
    "removeRevealComponent": true,
    "renderFoundationComponentsJquery": true,
    "scrollToTop": true,
    "toggleAlert": true,
    "toggleSearch": true,
    "toggleTaskForm": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-named-as-default-member": 0
  }
}
