{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:unicorn/recommended",
    "plugin:sonarjs/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "unicorn",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src/app"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "globals": {
    "closeAddForm": true,
    "closeDropdown": true,
    "closePopup": true,
    "enableFoundationAccordionComponent": true,
    "enableFoundationComponent": true,
    "enableFoundationForMultipleComponents": true,
    "enableFoundationForSingleComponent": true,
    "formatDateAndTime": true,
    "openAddForm": true,
    "openDropdown": true,
    "removeRevealComponent": true,
    "renderFoundationComponentsJquery": true,
    "scrollToTop": true,
    "toggleAlert": true,
    "toggleSearch": true,
    "toggleTaskForm": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "react/state-in-constructor": ["error", "never"],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/extensions": "off",
    "unicorn/no-null": "off",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "pascalCase": true,
          "kebabCase": true
        },
        "ignore": [".conf(ig)?.js(on)?$"]
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "extendDefaultReplacements": true,
        "replacements": {
          "props": {
            "properties": false
          },
          "conf": {
            "config": false
          }
        }
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-unused-vars": "off",
    "consistent-return": "off",
    "@typescript-eslint/camelcase": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "unicorn/no-array-reduce": "off",
    "no-restricted-syntax": "off",
    "unicorn/consistent-destructuring": "off",
    "no-unsafe-optional-chaining": "off",
    "import/no-extraneous-dependencies": "off",
    "unicorn/prefer-module": "off",
    "arrow-body-style": "off",
    "react/no-arrow-function-lifecycle": "off",
    "default-param-last": "off",
    "unicorn/prefer-spread": "off",
    "unicorn/no-array-callback-reference": "off",
    "unicorn/error-message": "off",
    "react/jsx-no-useless-fragment": "off",
    "react/no-unstable-nested-components": "off"
  }
}
