/node_modules/
/bower_components/
/dist/bower_components/
/dist/main.*
/dist/manifest.*
/dist/*.js
/dist/*.png
/dist/*.svg
/dist/*.ttf
/dist/*.gz
/dist/index.html
dist*.zip
/backup/**
.DS_Store
**/.DS_Store
.vscode
.tern-port
.log

/testing/integration/node_modules/
/testing/integration/tests/output/
/testing/integration/output/.log
