/node_modules/
/dist/
!!/dist/assets/
!!/dist/script/
!!/dist/apple-app-site-association

/backup/**
.DS_Store
**/.DS_Store
.vscode
.tern-port
.log
.env.local

/testing/integration/node_modules/
/testing/integration/tests/output/
/testing/integration/output/.log
