.editor {
  box-sizing: border-box;
  cursor: text;
  background: transparent;
}

.editor :global(.public-DraftEditor-content) {
  height: fit-content;
}

.editor :global(.public-DraftEditorPlaceholder-root) {
  position: absolute;
  color: #8492a4;
}
