.Icon {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 8px;
}

.Glyph {
  display: inline-block;
  text-align: center;
  width: 24px;
  color: inherit;
}