.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  background-color: #1e2e40; /*Dark grey*/
  opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: block;
}
